// Variables
// ==================
:root {

  --color-dark: #000;
  --color: #121c42;
  --color-admin:#2261e7;
  --color-light: #121c4299;
  --color-inversed: #effbec;
  --color-inversed60: #5e5f61fd;
  --color-transparent: #{rgba(#121c42, 0)};
  --contrast: #12748c;
  --contrast25: #1a349c;
  --gap: 20px;
  --space: 8px;
  --border: #9b9ba3;
  --border-light: #feffff;
  --background: #f4fafc;

  --color-cart:#6e6e70;
  --background-cart:#ffffff;

    

    --background-admin: #d2d8e4;
    --background-item: #eaedf2;
    --background-light: #fff;
    --shadow: #d8e1e8;
    --list-hover: var(--background);
    --play: #f3f9fb; // Couleur de fond du bouton play
    --space-section: 150px;
    --card-footer: #f7fafd;
    --card-padding: 16px;
    --header-height: 137px;
    --red: #f25353;
    --green: #41cf7c;
    --green-leght:#d9ffe9;
    --green-default:#41cf7c;
    --yellow: #feb32b;
    --yellow-alpha: #feb32b4c;
    --skeleton: var(--border-light);
    --skeleton-wave: var(--border-light);
    --selection-background: var(--border);
    --header-background: #FFFFFFF2;
    --header-background-inversed: #4869eeF2;
    --during: cubic-bezier(.98,0,0,1) + 1s;
  }
  
// Outils
// ==================
@import 'tools/reset';
@import 'tools/functions';
@import 'tools/mixins';
@import 'tools/layout';
@import 'tools/typography';
@import 'tools/animations';

// Generic
// ==================
body {
    font-family: $font;
    font-size: 16px;
    color: var(--color);
    line-height: 1.6;
    background: var(--background);
    scroll-margin: 80px 0 0 0;
    min-height: 100vmin;
    word-break: break-word;
    z-index:1;
}

body::after {
    display: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 580px;
    height: 506px;
    z-index: -1;
    pointer-events: none;
    // background: url(/images/logo-overlay.svg) top left / 100% 100% no-repeat;
  
    @include up(700) {
      display: block;
    }
}
  
.img,
img{
  width: 100%;
  height: auto;
}
  
// Force les custom element à être en block
// =============
con-fetti {
    display: block;
}
  
// Modules
// ==================
@import 'modules/transitionLink';
@import 'modules/header';
@import 'modules/footer';
@import 'modules/main';
@import 'modules/reveal';
@import 'modules/banner';
@import 'modules/services';
@import 'modules/methods';
@import 'modules/abouts';
@import 'modules/projects';
@import 'modules/contacts';

// Admin style
// ==================